
.background {
  height:100%;
  width:100%;
    display: block;
    position: relative;

}

.background:after {
    content: "";
    background: url("cats_in_love.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.title {
	font-size: 4em;
	font-weight: bolder;
	margin-bottom: 0;
}

.title2 {
	font-size: 4em;
	font-weight: bolder;
	color: rgb(128,0,0);
	font-style: italic;
	margin-bottom: 2;
}

.tagline {
	margin-top: -30px;
}
