
.background {
  	height:100%;
  	width:100%;
    display: block;

}

.background:after {
    content: "";
    background: url("cats_in_love.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.title {
	font-size: 4em;
	font-weight: bolder;
	margin-bottom: 0;
	margin-right: -25px;
}

.titleresults {
	font-size: 4em;
	font-weight: bolder;
	margin-bottom: 0;
	margin-right: -70px;
}

.title2 {
	font-size: 4em;
	font-weight: bolder;
	color: rgb(128,0,0);
	font-style: italic;
	margin-bottom: 2;
	text-align: left;
	padding-left: 5px;
}

.title2results {
	font-size: 4em;
	font-weight: bolder;
	color: rgb(128,0,0);
	font-style: italic;
	margin-bottom: 2;
	text-align: left;
	padding-left: 5px;
	margin-left: -65px;
}

.tagline {
	margin-top: -30px;
}

.ImageBorder {
    border: 10px solid black;
}

#compatibility{
	font-size: 2em;
	font-weight: bolder;
	color: rgb(128,0,0);
}

#vid{
	display: none;
	height: 50px;
	width: 50px;
	top: 110px;
	left: 0px;
	margin-left: -10px;
	position: absolute;
}

#vidtext{
	display: none;
	vertical-align: center;
	top: 60px;
	left: 0px;
	position: absolute;
}

